nav.navbar.navbar-default {
    border-top: none;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.container {
    display: block;
    clear: both;
    margin: 0;
}

#divContainer {
    background-image: url(../images/background.jpg);
    padding: 0px;
}

#view_content {
    padding: 0px;
}

#map_id {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#navbarTitle {
    position:fixed;
    margin:10px;
}
