<div id="login_bckg"></div>
<form id="login_form">
    <img id="login_image" class="" src="css/images/korisnik.svg" />
    <div class="input_div">
        <i class="glyphicon-user glyphicon"></i>
        <input type="text" name="username" placeholder="Username" class="" />
    </div>
    <div class="input_div">
        <i class="glyphicon-eye-open glyphicon"></i>
        <input type="password" placeholder="Password" name="password" class="" />
    </div>
    <button onclick="register()">Register</button>
    <button onclick="tryLogin(event)">Login</button>
</form>
<script type="text/javascript" src="view_scripts/login.js"></script>