<form id="login_form">
    <img id="login_image" class="img-circle" src="https://image.freepik.com/free-icon/user-male-shape-in-a-circle-ios-7-interface-symbol_318-35357.jpg" />
    <div class="form-group login_group">
        <input type="text" name="username" placeholder="Username" class="login_input form-control" />
    </div>
    <div class="form-group login_group">
        <input type="email" name="email" placeholder="Email" class="login_input form-control" />
    </div>
    <div class="form-group login_group">
        <input type="password" placeholder="Password" name="password" class="login_input form-control" />
    </div>
    <input type="button" class="btn btn-primary login_button" onclick="register()" value="Register" />
    <button onclick="tryLogin(event)" class="btn btn-primary login_button">Login</button>
</form>
<script type="text/javascript" src="view_scripts/login.js"></script>