<div id="register_bckg"></div>
<form id="register_form">
    <div class="input_div">
        <label for="username">Username:</label>
        <i class="glyphicon glyphicon-user"></i>
        <input type="text" name="username" placeholder="Username" class="" />
    </div>
    <div class="input_div">
        <label for="email">Email:</label>
        <i class="glyphicon glyphicon-envelope"></i>
        <input type="email" name="email" placeholder="Email" class="" />
    </div>
    <div class="input_div">
        <label for="Password">Password:</label>
        <i class="glyphicon glyphicon-eye-open"></i>
        <input type="password" placeholder="Password" name="password" class="" />
    </div>
    <button onclick="login(event)">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Login
    </button>
    <button onclick="tryRegister(event)">
        <i class="glyphicon glyphicon-ok"></i>
        Register
    </button>
</form>
<script type="text/javascript" src="view_scripts/register.js"></script>