<form id="register_form">
    <div class="form-group register_group">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" class="register_input form-control" />
    </div>
    <div class="form-group register_group">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" class="register_input form-control" />
    </div>
    <div class="form-group register_group">
        <label for="Password">Password:</label>
        <input type="password" placeholder="Password" name="password" class="register_input form-control" />
    </div>
    <button class="btn btn-primary register_button" onclick="login()">Login</button>
    <input type="submit" class="btn btn-primary register_button" value="Register" />
</form>