<div id="settings_div">
    <form id="settings_form">
        <div class="select_div">
            <label for="Arts&Entertainment">Arts & Entertainment</label>
            <input type="checkbox" name="Arts&Entertainment" id="4d4b7104d754a06370d81259" value="4d4b7104d754a06370d81259t">
        </div>
        <div class="select_div">
            <label for="College&University">College & University</label>
            <input type="checkbox" name="College&University" id="4d4b7105d754a06372d81259" value="4d4b7105d754a06372d81259">
        </div>
        <div class="select_div">
            <label for="Event">Event</label>
            <input type="checkbox" name="Event" id="4d4b7105d754a06373d81259" value="4d4b7105d754a06373d81259">
        </div>
        <div class="select_div">
            <label for="Food">Food</label>
            <input type="checkbox" name="Food" id="4d4b7105d754a06374d81259" value="4d4b7105d754a06374d81259">
        </div>
        <div class="select_div">
            <label for="NightlifeSpot">Nightlife Spot</label>
            <input type="checkbox" neme="NightlifeSpot" id="4d4b7105d754a06376d81259" value="4d4b7105d754a06376d81259">
        </div>
        <div class="select_div">
            <label for="Outdoors&Recreation">Outdoors & Recreation</label>
            <input type="checkbox" name="Outdoors&Recreation" id="4d4b7105d754a06377d81259" value="4d4b7105d754a06377d81259">
        </div>
        <div class="select_div">
            <label for="Professional&OtherPlaces">Professional & Other Places</label>
            <input type="checkbox" name="Professional&OtherPlaces" id="4d4b7105d754a06375d81259" value="4d4b7105d754a06375d81259">
        </div>
        <div class="select_div">
            <label for="Residence">Residence</label>
            <input type="checkbox" name="Residence" id="4e67e38e036454776db1fb3a" value="4e67e38e036454776db1fb3a">
        </div>
        <div class="select_div">
            <label for="Shop&Service">Shop & Service</label>
            <input type="checkbox" name="Shop&Service" id="4d4b7105d754a06378d81259" value="4d4b7105d754a06378d81259">
        </div>
        <div class="select_div">
            <input type="checkbox" name="Travel&Transport" id="4d4b7105d754a06379d81259" value="4d4b7105d754a06379d81259">
            <label for="Travel&Transport">Travel & Transport</label>
        </div>
        <button id="done">
            <i class="glyphicon glyphicon-ok"></i>
            Done
        </button>
    </form>
</div>