<div id="modalBckg"></div>
<div id="objectInfo">
    <div id="image_holder">

    </div>
    <div id="text_holder">
        <p>
            <b>Čegar</b> is a location in Serbia where the Battle of čegar Hill took place. It was first marked on July 4, 1878 with the
            following inscription:"To voivoda Stevan Sinđelić and his undead heroes who lost their lives
            on May 19, 1809, in their attack on Niš. Knez Milan M. Obrenović IV and his brave soldiers redeemed them on December
            27, 1877 by conquering Niš. Today's monument in the shape of a tower - a symbol of the soldiers'
            fortification - was erected for the fiftieth anniversary of the liberation of Niš from the Turks, on June 1, 1927.
            In 1938 a bronze bust of Stevan Sinđelić was positioned in the semicircular niche of the monument.
        </p>
        <p>
            <b>Čegar</b> is a location in Serbia where the Battle of čegar Hill took place. It was first marked on July 4, 1878 with the
            following inscription:"To voivoda Stevan Sinđelić and his undead heroes who lost their lives
            on May 19, 1809, in their attack on Niš. Knez Milan M. Obrenović IV and his brave soldiers redeemed them on December
            27, 1877 by conquering Niš. Today's monument in the shape of a tower - a symbol of the soldiers'
            fortification - was erected for the fiftieth anniversary of the liberation of Niš from the Turks, on June 1, 1927.
            In 1938 a bronze bust of Stevan Sinđelić was positioned in the semicircular niche of the monument.
        </p>
    </div>
    <button id="wfInfoClose">
        <i class="glyphicon glyphicon-ok-circle"></i>
        Close
    </button>
</div>
<script type="text/javascript" src="view_scripts/wiki_flicker.js"></script>