body {
}

.hbutton {
    background: none;
	padding: 12px 22px;
    border: 2px solid #0099cc;
	color: #0099cc;
    border-radius: 24px;
}

.hbutton:hover, .hbuttone:focus, .hbutton:active, .hbutton.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.hbutton:active, .hbutton.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
