#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    border-radius: 30px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#custom-search-input .input-group{
    padding-left: 5px;
}
.list_item {
    border: solid 1px #ccc;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #666666;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.first_item_row {
    margin-top: 5px;
    margin-bottom: 5px;
}