.modal {
    position: fixed;
    width: auto;
    height: auto;
    margin: 0;
    background: none;
    padding: 0;
}

.modal-dialog {
    margin: 0px;
    height: 100%;
}

.modal-content {
    margin: 0px;
    height: 100%;
    background: none;
}

.modal-body {
    -webkit-overflow-scrolling: touch;
    background: none;
}

.modal-footer {
    border: none;
    position: absolute;
    width: 100%;
    bottom: 0;
}
    .modal-footer button {
        border: 2px solid white;
        width: 70%;
        text-align: center;
        background: none;
        margin: auto;
        height: 40px;
        color: white;
        font-size: 25px;
        margin-top: 2%;
    }
    .modal-footer button:focus {
            outline: none;
            opacity: 0.4;
            background-color: black;
        }

        .modal-footer button i {
            float: left;
            margin-top: 2%;
        }
