.modal { 
    position: fixed; 
    width: auto;
    height: auto; 
    margin: 0;
    /*background-color:black;
    opacity: 0.4;*/
    background:none;
    padding:0;
}
.modal-dialog{
    margin:0px;
    height:100%;
}
.modal-content{
    margin:0px;
    height:100%;
    background:none;
}
.modal-body {  
    -webkit-overflow-scrolling: touch;
    background:none;
    border:none;
 }